.card {
  width: 600px;
  border: 1px solid #171717;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.flex {
  display: flex;
  align-items: flex-start;
}

.flex p {
  flex: 1;
  margin: 0;
  padding: 8px;
}

.right {
  flex-flow: row-reverse;
}
